@model List<Book>
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Mahler Books</h1>
    <p>Below are some great books about Gustav Mahler:-</p>
    @foreach (Book book in Model)
    {
        @book.Title<br/>
        @book.PublishedDate<br/>
        @book.BookId<br/><br/>
    }
    <br/>
    <a asp-action="AddBook">Add New Book</a>
</div>
