@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Mahler Books</h1>
    <p>Below are some great books about Gustav Mahler:-</p>
    <p><a href="https://www.amazon.com/Gustav-Mahler-Jens-Malte-Fischer/dp/0300194110">A great book</a></p>
    <p><a href="https://www.amazon.com/Why-Mahler-Symphonies-Changed-World/dp/0571260799">Another great book</a></p>
</div>
