@model List<Book>

@{
    ViewData["Title"] = "Books";
}

<h1 class="display-5">Books About Mahler</h1>
<p class="lead">Below are some great books about Gustav Mahler.</p>
<div class="my-shadow" style="margin-bottom: 20px; background-color: beige; padding: 20px">
    @foreach (Book book in Model)
    {
    <div class="lead my-shadow" style="margin-bottom: 20px; background-color: #fff0ff; padding: 20px">
        <em>Title:</em><br />@book.Title<br/>
        <hr class="my-4">
        <em>Date Published:</em><br />@book.PublishedDate.ToString("dddd, dd MMMM yyyy")<br/>
        <hr class="my-4">
        <em>Book ID: </em>@book.BookId<br/>
    </div>
    }
</div>

<p class="lead text-center">
    <a class="btn btn-primary btn-lg" asp-action="AddBook" role="button">Add Book</a>
</p>
