@{
    ViewData["Title"] = "Sources";
}

<h1 class="display-5">Sources About Mahler</h1>
<p class="lead">On this page are great sources. See the sources below.</p>
<hr class="my-4">
<div class="text-center">
    <p class="lead">Books about Gustav Mahler.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-action="Books" role="button">Books</a>
    </p>
    <hr class="my-4">
    <p class="lead">Links about Gustav Mahler.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-action="Links" role="button">Links</a>
    </p>
</div>
