@{
    ViewData["Title"] = "Sources Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sources About Mahler</h1>
    <p>On this page are great sources. See the sources below:-</p>
    <p><a asp-action="Books">Books about Gustav Mahler</a></p>
    <p><a asp-action="Links">Links about Gustav Mahler</a></p>
</div>
