@{
    ViewData["Title"] = "Links";
}

<div class="text-center">
    <h1 class="display-4">Mahler Links</h1>
    <p>Below are some great links about Gustav Mahler:-</p>
    <p><a href="https://en.wikipedia.org/wiki/Gustav_Mahler">Wikipedia page about Mahler</a></p>
    <p><a href="https://en.wikipedia.org/wiki/List_of_compositions_by_Gustav_Mahler">His compositions</a></p>
</div>
