@{
    Layout = "_Form";
    ViewData["Title"] = "AddStory";
}

<div class="text-center">
    <h1 class="display-4">Add Story</h1>

    <form method="post">
        <label for="text">Story Text</label>
        <input name="text" />
        <label for="pubDate">Date Published</label>
        <input name="pubDate" />
        <label for="storyId">StoryID</label>
        <input name="storyId" /><br/>
        <input type="submit" value="Add" />
    </form>
</div>
