@{
    ViewData["Title"] = "History";
}

<h1 class="display-5">History Of Gustav Mahler</h1>
<p class="lead">Born in Bohemia (then part of the Austrian Empire) to Jewish parents of humble origins, the German-speaking Mahler displayed his musical gifts at an early age. After graduating from the Vienna Conservatory in 1878, he held a succession of conducting posts of rising importance in the opera houses of Europe, culminating in his appointment in 1897 as director of the Vienna Court Opera (Hofoper). During his ten years in Vienna, Mahler—who had converted to Catholicism to secure the post—experienced regular opposition and hostility from the anti-Semitic press. Nevertheless, his innovative productions and insistence on the highest performance standards ensured his reputation as one of the greatest of opera conductors, particularly as an interpreter of the stage works of Wagner, Mozart, and Tchaikovsky. Late in his life he was briefly director of New York's Metropolitan Opera and the New York Philharmonic.</p>
