@model List<Story>
@{
    ViewData["Title"] = "Stories";
}

<div class="text-center">
    <h1 class="display-4">Mahler Stories</h1>
    <p>Below are some great stories about Gustav Mahler:-</p>
    @foreach (Story story in Model)
    {
        @story.Text<br />
        @story.PublishedDate<br />
        @story.StoryId<br /><br />
    }
    <br />
    <a href="AddStory">Add Your Own Story About Mahler</a>
</div>
