@{
    Layout = "_Layout";
}

<h1 class="display-5">Please enter the data below:-</h1>

<div class="my-shadow" style="background-color: #ffffdc; padding-top : 40px; padding-bottom: 40px; padding-left: 20px; padding-right: 20px; margin-top: 20px; margin-bottom: 40px">
    @RenderBody()
</div>
